# Application Port & Mode
PORT=8000
ENVIRONMENT=development
NEXT_PUBLIC_SITE_URL=https://www.iloveaudios.com

# Next.js Backend URL Target
# BACKEND_API_URL=http://127.0.0.1:8000
BACKEND_API_URL=https://audiolab-dc5o.onrender.com
NEXT_PUBLIC_BACKEND_API_URL=https://audiolab-dc5o.onrender.com



# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

# Celery Config
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# Object Storage (MinIO / S3) Config
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=song-extractor-artifacts
S3_REGION=us-east-1

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
